<h1>Halaman Contact</h1>

<% if (msg.length !== 0) { %>
    <div class="alert alert-info" role="alert">
      <%= msg %>
    </div>
  <% } %>

<a href="/contact/add" class="btn btn-primary mb-2"> Tambah Data Contact</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nama</th>
            <th scope="col">Nomor Hp</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
            <% if (contacts.length === 0) { %>
                <td colspan="4">
                    <div class="alert alert-danger" role="alert">
                    Data tidak ditemukan
                    </div>
                </td>
            <% }else{ %>
                <% contacts.forEach((contact, index) => { index++ %>
                    <tr>
                        <th scope="row"><%= index %></th>
                        <td><%= contact.nama %></td>
                        <td><%= contact.nohp%>4</td>
                        <td><a href="/contact/<%= contact.nama %>" class="btn btn-primary">Details</a></button></td>
                    </tr>
                <% }) %>
            <% } %>
    </tbody>
</table>
