<h1>Edit Contact</h1>

<% if (typeof errors != 'undefined') { %>
    <% errors.forEach(error => { %>
      <div class="alert alert-danger" role="alert">
        <%= error.msg %>
      </div>
    <% }) %>
  <% }else{ %>
    <form method="post" action="/contact?_method=PUT">
        <div class="mb-3">
            <input type="hidden" name="_id" value="<%= user._id %>">
          <label for="nama" class="form-label">Nama</label>
          <input type="text" class="form-control" id="nama" name="nama" value="<%= user.nama %>">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>">
          </div>
          <div class="mb-3">
            <label for="nohp" class="form-label">noHP</label>
            <input type="text" class="form-control" id="nohp" name="nohp" value="<%= user.nohp %>">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
<% } %>
